h6{
	color: white;
}
h5{
	color: white;
}
h1{
	color: white;
}
label{
	color: white;
}
td{
	color: white;
}
th{
	color: white;
}

.but {
	margin-left: 80px;
	margin-top: 11px;
	margin-bottom: 15px;
}

.bd {
	margin-left: 15px;
}

.row {
	margin-bottom: 15px;
}
.bd1{
	    margin-left: 800px;
}
.centralp{
	margin-left: 10px;
	margin-right: 10px;
}
.fundo{
	background-color: rgba(10, 0, 0, 0);
}
.butt{
	
	margin-bottom: 15px;
	
}

body {
  width: 100%;
  color: white;
  background-position: initial;
  background-image: url("/img/imagem.jpg");
  max-width: 100%;
  background-size: inherit;
}
  
}



