<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:sec="https://www.thymeleaf.org/thymelaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Login Casa de Show</title>
<link rel="stylesheet" th:ref="/css/Style.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<form action="/cadastro" method="post" th:object="${usuarios}">
	<div class="card container imglogin">
		<div class="alert alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<button type="button" class="close" data-dismiss="alert"></button>
			<span th:text="${mensagem}"></span>
		</div><div layout:insert="MensagemErro"></div>
		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			<div th:each=" detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div>
		<div class="card-header">
			<h3>Cadastrar</h3>
			<a href="/login" class="badge badge-dark text-rigth">Login</a>
		</div>
		<div>
		<input type="hidden" name="id">
			<div class="col-auto my-1">
				<label class="mr-sm-2 sr-only" for="casashow">Preference</label>
				<select class="custom-select mr-sm-2 " id="TIPO" name="admin">
				<option value="">Escolha um tipo de usuario</option>
						<option value="true">ADMIN</option>
						<option value="false">USER</option>
				</select>
			</div>
			<div class="form-group col-6 col-md-4">
				<label for="username">Nome</label> <input type="text"
					class="form-control" id="username" name="username">
			</div>
			<div class="form-group col-6 col-md-4">
				<label for="exampleInputPassword1">Senha</label> <input
					type="password" class="form-control" name="password">
			<div ><br>
			<button type="submit" class="btn btn-primary col-6 col-md-5">Cadastrar</button>
			</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/funcoes.js"></script>
</form>
</html>

