<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8">
<title>Casa de Show</title>
</head>
<section layout:fragment="conteudo">
	<form class="form-horinzontal" method="POST" action="/casadeshow"
		th:object="${casaShow}">
		<div layout:insert="MensagemErro"></div>
		<div class="alert alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<button type="button" class="close" data-dismiss="alert"></button>
			<span th:text="${mensagem}"></span>
		</div>

		<div class="text-center">
			<h1 >Casa de Show</h1>
		</div>
		<div class="cardy-body bd">
			<input type="hidden" th:field="*{id}">
			<div class="row">
				<label for="nomecasa" class="col-1 col-form-label">Casa de
					Show</label>
				<div>
					<input type="text" class="form-control fundo" id="nomecasa"
						name="endereco1" th:field="*{nomecasa}"
						th:classappend="${#fields.hasErrors('nomecasa')} ? is-invalid">

				</div>
			</div>
			<div class="row">
				<label for="endereco" class="col-1 col-form-label ">Endereço</label>
				<div>
					<input type="text" class="form-control fundo" id="endereco"
						name="endereco1" th:field="*{endereco}"
						th:classappend="${#fields.hasErrors('endereco')} ? is-invalid">
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-primary but">Salvar</button>
			</div>
		</div>
	</form>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="text-center">id</th>
				<th>Nome</th>
				<th class="text-center">Endereço</th>
				<th class="text-center">Editar</th>
				<th class="text-center">Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="casas : ${casas}">
				<td class="text-center" th:text="${casas.id}">1</td>
				<td th:text="${casas.nomecasa}"></td>
				<td class="text-center" th:text="${casas.endereco}"></td>
				<td class="text-center"><a class="btn btn-link text-center"
					th:href="@{/casadeshow/{id}(id=${casas.id})}"><button class="btn btn-dark">EDITAR</button></a>
				</td>
				<td class="text-center"><a class="btn btn-link" data-toggle="modal"
					data-target="#confirmacaoExclusaoModal"
					th:attr="data-id=${casas.id} , data-descricao=${casas.nomecasa}">
						<button class="btn btn-dark" data-toggle="tooltip"
							title="Excluir">Excluir</button>
				</a></td>
			</tr>
			<tr>
				<td colspan="7" th:if="${#lists.isEmpty(casas)}">Nenhum titulo
					encontrado</td>
			</tr>
		</tbody>
	</table>
	<div layout:insert="DialogoConfirmacaoExclusao"></div>
</section>
</html>