<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Login Casa de Show</title>
<link rel="stylesheet" href="/css/Style.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

	<div class="card container" style="background-color: rgba(10, 0, 0, 0);">
		<div class="alert alert-success text-center"
			th:if="${!#strings.isEmpty(mensagem)}">
			<button type="button" class="close" data-dismiss="alert"></button>
			<span th:text="${mensagem}"></span>
		</div>
		<div th:if="${param.error}">
			<div class="alert alert-danger">Usuario e/ou senha inválidos</div>
		</div>
		<div th:if="${param.logout}">
			<div class="alert alert-info">Saiu do sistema!!</div>
		</div>
		<div class="card-header">
			<h1>Login</h1>
		</div>
		<form action="/login" method="POST">
		<div class="">
			<input type="hidden" name="id">
			<div class="form-group col-6 col-md-4">
				<label>Nome</label> <input type="text"
					class="form-control" name="username">
			</div>
			<div class="form-group col-6 col-md-4">
				<label>Senha</label> <input
					type="password" class="form-control" name="password"><br>
				<button type="submit" class="btn btn-primary col-6 col-md-5">Entrar</button>
				<a class="btn btn-primary col-7 col-md-5" href="/cadastro"> <span></span>Cadastrar
			</a>
			</div>
		</div>
		</form>
	</div>	
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/funcoes.js"></script>
</body>
</html>

